.inner {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: end;
  gap: 48px;
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 20px;
  align-items: flex-start;
}

@media (max-width: 767px) {
  .inner {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .aside { padding-bottom: 0; }
}
